# Seat.io API Keys
SEATIO_SECRET_KEY=e1022709-a64c-4101-b2f8-29cd79ada447
SEATIO_PUBLIC_KEY=4e399bc2-e0d6-4fd0-8fcf-ff288651454e



# Server Configuration
PORT=3001

# Database (si usas Prisma)
DATABASE_URL="your-database-url-here" 